.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    margin-bottom: 20px;
}

.title {
    display: flex;
    align-items: center;
    gap: 15px;
    color: white;
}
